[Unit]
Description=Promtail

[Service]
Type=simple
WorkingDirectory={{ promtail_location }}
ExecStartPre=/bin/sleep 30
ExecStart={{ promtail_location }}/promtail-linux-{{ promtail_type[ansible_architecture] }} --config.file={{ promtail_location }}/promtail-config.yaml
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target